@import "bourbon";
@media only screen and (max-width: 1024px) {
.wrapper span
{
display: none;
}
h1 {
	font-size: 4.0vw
}
.shadowing
{
display: block
}
.shadowingAfter
{
display: block
}
.shadowingAfter:after
{
content: "";
margin: 0 auto 0 auto;
width: 100px;
height: 0px;
background: black;
box-shadow: 0px 15px 5px 5px rgba(0, 0, 0, 0.3);
border-color: transparent;
display: block;
}
.box
{
height: 100%;
width: 100%;
background-color: rgb(255,255,255);
border: none;
margin-top: 20px;
margin-bottom: 0px;
font-size: 0.8em;
margin-left: auto;
margin-right: auto;
padding: 0px 10px 0px 10px;
display: none
}

.closeBar
{
display: block;
text-align: center
}
.closeBar:first-child
{
display: block;
color: #006e2e;
font: 1.3em verdana;
}
.close
{
display: none;
width: 75%;
margin: 0 auto;
font: 1.3em/200% Arial, sans-serif;
text-align: left;
padding: 20px;
background-color: #DFEFF0;
border-radius: 20px
}
.close a
{
font-size: 1.3em;
color: blue;
}
button
{
text-align: center;
outline: none;
border: 6px solid #ccc;
border-radius: 10px;
font: 1.3em 'Oswald', sans-serif;
transition: all 0.6s ease-in-out;
margin: 20px auto;
display: inline-block;
background-color: #DFEFF0;
padding: 20px
}
i {
	margin: 10px auto;
	transition: all 0.6s ease-in-out;
}
i:hover {
	color: blue;
	cursor: pointer;
}
button:hover
{
color: blue;
cursor: pointer;
border-color: rgba(63,107,169, 0.7);
box-shadow: 0 0 20px rgba(63,107,169, 0.7);
transition: all 0.6s ease-in-out;
overflow: hidden;

}

button:active
{
border-color: rgba(63,107,169, 0.7);
box-shadow: 0 0 10px rgba(63,107,169, 0.7);
outline: none
}
.list1 {
	display: none
}
}
@media only screen and (max-width: 480px) {
	h1 {
		font-size: 1.6em
	}
	.box {
		padding: 0
	}
	.close {
		display: none;
		font-size: 1.1em;
		width: 98%;
		margin: 0 auto;
		padding: 10px
	}
}
@media screen and (max-height: 400px){
    .spanWrapper {
	height: 100%;
	min-height: 200px;
	padding: 0 5px;
}
span {
	font-size: 4.4vh;
	padding: 5px
}
.spanWrapper i {
	font-size: 1.5em;
}
}
